
.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-text-icon{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.flex-margin {
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
}
.icon-style {
    cursor: pointer;
}